
.p-3.mb-2.text-center.bg-primary.text-white {
    background: linear-gradient(to right, #007bff, #0056b3);
  }

.forecast-container {
    border: solid;
    border-color: #ccc;
    width: 100%;

}

.forecast-container,
.col-md-2,
h2 {
    display: none;
    text-align: center;
}

.col-md-2 {
    background: linear-gradient(to bottom, #666, #333);
    border: 2px solid #ccc;
}


h3 {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
} 

.bg-secondary {
    width: 18%;
}

section {
    margin-right: 0;
    border-radius: 5px;
}

input {
    margin: 10px 5px 30px 0;
}

button {
    width: 180px;
    background: linear-gradient(to right, #007bff, #0056b3);
    display: flex;
    justify-content: flex-start;
}

.suggestion-item {
    cursor: pointer;
    padding: 8px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 4px;
    margin-top: 2px;
    width: 100%;
}

.suggestion-item:hover {
    background-color: #f2f2f2;
}


